@import '../../sass/index';

.centeredContent{
  display: flex;
  background: $colorBlack;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .inner{
    max-width: 100%;
    margin: 0 1rem;
    h3{
      color: $colorWhite;
    }
    h2{
      color: $colorWhite;
      padding-top:10px;
      text-transform: none;
    }
    p{
      color: $colorWhite;
      font-size:25px;
    }
  }
}
