.navbar{
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: flex-center;
  font-family: 'Cinzel', serif;
  color:#f3eded;
  ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width:100%;
    justify-content: flex-end;

    li{
      display:flex;
      margin: 0 1rem;
      a{
        text-decoration: none;
        font-size: 1.5rem;
        color: #f3eded;        
      }

    }
  }
}